.App {
  margin: 0px;
  padding:0;
  font: 14pt "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-image: url('../../static/media/Ayer_655_51_C8_1524b_Vault_Praeclara_Ferdina_di_Cortesii_de_noua_Cortes_Mapdet_o2.jpg');
}
